
@import "variables";


// #bran-body {
//     margin: 0;
//     padding: 0;
//     background-size: cover;


    #bg-contact {
        background: url('./../img/77.jpg');
        background-repeat: no-repeat;
        background-attachment: relative;
        background-size: cover;
        height: 110vh;
                @include easeOut();

        .welcome:hover {
            box-shadow: rgba(0, 0, 0, 0.5);
            filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.5));
            -webkit-filter: drop-shadow(0 15px 30px rgba(0, 0, 0, 0.5));
        }
     .bran-text {
         margin-left: 35%;
         color: white;
         .bran-title {
             font-family: $amanfont;
             margin-top: 3rem;

             span {
                 font-family: $curfont;
             }
         }
     }
     .row{
         margin-top:3rem;
         margin-left:5%;
     }
     .branch-title{
        margin-top:-55rem;
        margin-left:5rem;
        color:white;
     }
    .big-branch{
        margin-left:-35rem;
        color:white;
    }

    }

    // .tri-cont {
    //     color: white;

    // }
// }

.alem {
    margin-left: 15%;
}
    .branc {
        background: rgba(lighten($silverGold, 2), 0.4);
        border: 1px solid $silverGold;
        margin: 5px;
        font-size: 1.5rem;
        font-family: $amanfont;
        min-height: 15rem;
        border-radius: 2px;
        
        -webkit-border-radius: 2px;
        -moz-border-radius: 2px;
        -ms-border-radius: 2px;
        -o-border-radius: 2px;
       
    }
    .branc:hover {
        background: rgba(lighten($primary, 2), 0.4);
        color:white;
    }

    .bra-loc {
        padding: 15% 0px 0px 25%;
    }

    .branc-img {
        margin-top: 25%;
        background-image: url("./../img/african.png");
        height: 50px;
        background-size: cover;
    }

// }

.modal-body {
    display: grid;

    img {
        border-radius: 50%;
        height: 150x;
        margin-left: 35%;
    }

    .b-name {
        margin-left: 25%;
    }

    .bran-img {
        margin-top: 5%;
        background-image: url("./../img/african.png");
        height: 50px;
        background-size: cover;
    }

    .ebs {
        padding-left: 1.5rem
    }
}

.modal-content {
    background-color: $silverGold;
}
#test{
    z-index: 1500;
   
}
.orni-divi{
    .follow,
    .creative{
         font-family:"Times New Roman";
         font-size:1.25rem;
    }
    .main-nav{
         font-family:"Times New Roman";
         font-size:2.5rem;
    }
}