
.footer{
    display:flex;
    margin-top:15rem;
 }

 .fi{
     margin-left:150px;
 }
 .footer2 {
     display: flex;
     margin-top: 3rem;
     position: absolute;
     background-color: rgba(lighten($silverGold, 2), 0.5);
     width:100%;
     padding: 1rem 0rem  1rem 35rem;
     z-index: -1;

     .f {
         padding-left: 4rem;
     }
    }
    .million {
        position:relative;
        bottom: 0;
        padding-top:115px;
        left: -10%;
        width: 100%;
        // padding: 10px;
        text-align: center;
        z-index: 10;
        transform: translateZ(0);
    }