@import "variables.scss";
@import "mixin.scss";

#footer{
    position:absolute;
    background-color: rgba(lighten($primary, 2), 0.5);
    // opacity:0.5;
    margin-top: 15rem;
//    bottom: 0em;
    height: 5rem;
    width:100%;
    

//  .footer2 {
//      margin-left: 25%;
//      margin-top: 2.3rem;
//         .f {
//          display:initial;
//          padding-left: 4rem;
//          margin-top:-2rem;
         
       
// }
//     }
   
  a {
      text-decoration-line: none;
      color:white;
    
}
a:hover{
    color:$primary;
}
}
.fi {

    margin-top: -1.5rem;
    
}