
.galies{
    width:650px;
}
#four{
    width:650px;
    margin-top: 5px;
    display:grid;
    grid-gap:5px;
    grid-template-columns: repeat(3, 1fr);
    // grid-auto-rows:75px;
    grid-auto-flow: dense;

}

span.close {
    position: absolute;
    top: 15%;
    left: 72%;
    z-index: 150;
    zoom: 1.5;
}
.wed-text{
    margin-left:35%;
h2.wed-title{
    font-family: $amanfont;
    margin-top:3rem;
    
    span{
    font-family: $curfont;
    }
}
}
.wed-main-title{
    padding-left:1em !important;
    font-weight:100;
    margin:2rem;
    font-family: $curfont;
    font-size: 5.5rem;
    font-stretch: extra-expanded;
}

.marrage{
    background: url('./../img/africa.png');
    weight:100%;
    height: 10rem;
      margin-top: 2rem;
    p{
        //  margin-top:2%;
         margin-left:23%;
         font-weight:100;
         font-family: $curfont;
         font-size: 2.5rem;
         font-stretch: extra-expanded;
    }
}
p.marriage{
    position: absolute;
    margin-top:60px;
    margin-left:7%;
}

#gallery-footer{
     margin-top:-5rem;
}
.logoGallery{
    float: right;
    margin-top: -210px;
    margin-right: 2%;
}

.wedground{
    background: url("./../img/opd.png");
    background-repeat: no-repeat;
    background-size:cover;
}
.enground{
     background: url("./../img/11.jpg");
     background-repeat: no-repeat;
     background-size: cover;
     
}
.gradground {
    background: url("./../img/17.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.lowerlogo{
   background: url("./../img/africa.png");
   background-repeat: no-repeat;
   background-size: cover;
   width:100%;
   height: 10rem;
}
img.eng{
    position:relative;
   right:-100rem;
    margin:0px;
}