@import "variables";


#bg-aman {
    background: url('../img/amanzeru.jpg');
    background-repeat: no-repeat;
    background-attachment: relative;
    background-size: cover;
    height: 110vh;
    @include easeOut();
}


.amanzeru{
    position: absolute;
    top:-925px;
    z-index: 1020;
      background: rgba(lighten($silverGold, 2), 0.4);
  }
     h4{
       font-family: $amanfont;
       margin-left:12%;
       font-size: 1.1rem;
       font-stretch: ultra-expanded;
     }
     h5 {
         font-size: 1rem;
         font-kerning: normal;
         font-weight: 100;
         color: $maincolor;
     }


    .anan{
        font-family: $amanfont;
        font-size: 3rem;
        font-weight: 900;
        font-stretch: ultra-expanded;
    }
 .hor-line {
     background-color:$primary;
     height: 0.2rem;
     width: 17.8rem;
     margin-top:-0.7rem;
 }
   h3 {
       margin-top:0.4rem;
       font-family: $cursivefont;
       font-size: 18.5px;
     }
   .myNm{
     font-size: 1.5rem;
     height: 0.2rem;
     width: 26.5rem;
    padding-bottom:1.2rem;
    
     z-index: 9;
   }
   .colect{
 position: relative;
 left:18rem;
 top:35rem;
 padding:2rem;
   }
   .about{
    font-family: $amanfont;
    span{
       font-family: $cursivefont;
    }
   }