@import "variables.scss";
// @import "mixin.scss";
*{
    box-sizing: border-box;
}
body{
      color: $primary;
} 
  
     .right-nav {
        
        font-size: 1.2em;
        margin-top:20px;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repear(1fr  1fr);
        grid-template-areas :
     'legend legend'
     'bioimage bioimage'
      'nav1 nav2';
     
     div.line{
      grid-area: bioimage;
      position:relative;
      background:$primary;
      height: 2px;
      width:25rem;
      top:2.9rem;
     }
     .legend{
         font-family: $curfont;
         font-size:1.35em;
         position:relative;
         grid-area: legend;
         padding-left:13%;
         top:6rem;
         z-index: 99;
     }
     &div.follow{
       grid-area:nav1;
     }
     &div.icon{
       grid-area: nav2;
       
    }
     i.fab {
         color: $primary;
         font-size:1.2rem;
         margin-right:10px;
     }
    }
.central-nav{
       line-height:1.5;
       img{
           margin-left:25%;
       }
              .orn{
              font-family:$amanfont;
               font-size:2.5rem;
            }
            .creative{
                font-size:1.2rem; 
                margin-left:15%;
            }
}
div.icon {
    z-index: 1000;
}