@import "variables.scss";
// @import "mixin.scss";
*{
    box-sizing: border-box;
}
body{
      color: $primary;
} 
 
 .main-nav {
     font-family: $mainfont;
     display: flex;
     float: left;
     font-weight: 300; 
//   font-size:1.2rem;
 }
 .nav-list {
     padding-top: 8vh;
     color: $maincolor;
     margin-left: 2rem;
        }
    
     .right-nav {
         font-family: $curfont;
    //   color:;
     }

.central-nav{
    background: $home-img;
    background-repeat: no-repeat;
     background-attachment: scroll;
     background-size: cover;
}
