@import "variables.scss";
// @import "mixin.scss";
*{
    box-sizing: border-box;
}
body{
      color: $primary;
} 
  
     .right-nav {
        
        font-size: 1.2em;
        margin-top:5rem;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: repear(1fr  1fr);
        grid-template-areas :
     'legend legend'
     'bioimage bioimage'
      'nav1 nav2';
     
     div.line{
      grid-area: bioimage;
      position:relative;
      background:$primary;
      height: 2px;
      width:25rem;
      // top:2.9rem;
     }
     .legend{
         font-family: $curfont;
         font-size:1.35em;
         position:relative;
         grid-area: legend;
         padding-left:13%;
        //  top:6rem;
         z-index: 99;
     }
     div.follow{
       grid-area:nav1;
       font-family: "Times New Roman";
       font-size:1rem;
     }
     div.icons{
        color: $primary;
       grid-area: nav2;
       
    }
     i.fab {
         color: $primary;
         font-size:1.2rem;
         margin-right:10px;
     }
    }
//  ul div.central-nav{
//       line-height:1.5;
//       position:relative;
//       left:-20%;
    
//       z-index:54;
//        img{
//            margin-left:30%;
//        }
//               .orn{
//               font-family:$amanfont;
//                font-size:2.5rem;
         
//             }
//             .creative{
//                 font-size:1.2rem; 
//                 margin-left:15%;
//                 font-family: "Times New Roman";
//             }
// }
// .navbarmillion{
//       color: black;
//     background-color: aqua;
// }
// button.mainbtn{
//        border:none;
//        outline:none;
//       .play{
//            color: black;
//            margin-top: -3.8rem;
//            left:-1rem;
//            transition: all 0.7s ease;
//           img:hover{
              
//                    transform: scale(1.3) rotate(3deg);
               
//            }
//        }
// }



.navfont{
font-family: 'Times New Roman', Times, serif;
}
.icons i{
  color:red;
}
