$maincolor:#ababab;
$curfont:'Kristi',cursive;
$mainfont:'Montserrat','Helvetica Neue', Helvetica, Arial, sans-serif; 
$primary: rgb(138, 135, 135);
$preprimary:#a3a0a0;
$show-home-image:true;
$tricorner:url('../img/aman.png');
$home-img:url('../img/nav.png');
